@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light theme (por defecto no es necesario cambiar) */

.theme-dark {
  --bg-color: #1a202c;
  --text-color: #edf2f7;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.theme-blue {
  --bg-color: #ebf8ff;
  --text-color: #2a4365;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.theme-green {
  --bg-color: #f0fff4;
  --text-color: #276749;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.theme-orange {
  --bg-color: #fffaf0;
  --text-color: #975a16;
  background-color: var(--bg-color);
  color: var(--text-color);
}
